@import './../../../variables';

.InfoField {
    margin: 10px 0;
    text-align: left;
    display: flex;

    .name {
        font-size: 1.1rem;
        font-weight: 700;
        margin: 5px 20px 5px 10px;
    }

    .values {
        display: flex;
        flex-wrap: wrap;


        span {
            display: block;
            border-radius: 5px;
            background: $secondaryColor;
            padding: 2px 5px;
            font-weight: 600;
            color: $secondaryFontColor;
            margin: 5px;
            white-space: nowrap;
        }
    }
}