@import './../../variables';

.PlanetPage {
    margin: 20px;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    background: linear-gradient(
				180deg,
				rgba($color: $secondaryColor, $alpha: 0.5) 0%,
				rgba($color: $secondaryColor, $alpha: 0) 80%
			);
	
	img {
		margin: 40px 10px 20px 5px;
		border: 2px solid black;
		box-shadow: $shadow;
	}
}