$mainColor: #151515;
$secondaryColor: #303030;

$mainFontColor: #c0c0c0;
$secondaryFontColor: #ffffff;

$cardBgColor: #252525;
$metacriticCardColor: white;

$shadow: 0 10px 20px 0 rgba(0,0,0,.5);
$mainHoverShadow: 0 0 4px 0 rgba(255,255,255,0.2);
$secondaryHoverShadow: inset 0 0 50px 0 rgba(16,16,16,0.9);